*/tags
*.output
*.out
**/*.[oa]
*.[oa]
*.tar.gz
*.ko
..install.cmd
analysis-agent/ta3-api-bindings-cpp/avro-cpp-1.8.1/
analysis-agent/ta3-serialization-schema/avro/
analysis-agent/ta3-serialization-schema/src/
analysis-agent/ta3-serialization-schema/target/
test/dev/.*
test/dev/spec.mod.c
modules.order
analysis-agent/boost/
host-agent/cpu?
test/.deps
test/.dep_dirs_made
test/replay_headers
eglibc-2.15/prefix
eglibc-2.15/build
eglibc-2.15/pthread_log_min.o.d
eglibc-2.15/pthread_log_min.os
eglibc-2.15/pthread_log_min.os.d
